body {
  background: rgb(54,4,108);
  background: linear-gradient(90deg, rgba(54,4,108,1) 0%, rgba(75,75,124,1) 50%, rgba(0,212,255,1) 100%);
  height: 100vh;
}
.App {

  display: grid;
  grid-template-columns: 200px 700px 200px;
  /*!*grid-template-rows: 25% 100px auto;*!*/
  /*grid-auto-flow: column;*/
  grid-auto-rows: auto;
  /*text-align: center;*/
  grid-gap: 30px;
  justify-content: center;
  text-align: center;
  /*height: 100vh;*/
}
form {
  grid-column-start: 2;
  /*grid-column-end: 3;*/
  /*grid-row-start: 2;*/
  /*grid-row-end: 3;*/
  display: flex;
  flex-wrap: wrap;
}
form input[type=text] {
  flex-grow: 1;
  font-size: 2.5rem;
  width: 1px;
}
form button {
  width: 100%;
  font-size: 2rem;
  padding: 20px;
  background: #009bff;
  color: white;
  text-shadow: 1px 1px black;
}
form button:focus {
  outline: red auto 5px;
}
.color-display {
  grid-column-start: 2;
  /*grid-column-end: 3;*/
  /*grid-row-start: 3;*/
  /*background: beige;*/
}
.color-display-history {
  background: #eeeeee;
  grid-column-start: 2;
  /*!*grid-column-end: 3;*!*/
  /*grid-row-start: auto;*/
  /*background: pink;*/
  }
code {
  display: flex;
  justify-content: center;
  padding: .5rem;
}
.color-card {
  height: 100px;
  width: 50%;
  display: inline-flex;
}
.color-card-start {
  background: red;
}
.color-card-end {
  background: plum;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
